@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Dancing+Script:wght@400..700&family=Montaga&family=Mukta:wght@200;300;400;500;600;700;800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Shadows+Into+Light&display=swap');

body {
  margin: 0;
 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Poppins", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.carousel-indicators li {
  background-color: transparent; /* Remove default background */
  border: 1px solid #fff; /* Add border */
  border-radius: 50%; /* Make indicators circular */
  width: 10px; /* Set width */
  height: 10px; /* Set height */
  margin-right: 5px; /* Adjust spacing */
  cursor: pointer; /* Add cursor pointer */
}

/* Active indicator style */
.carousel-indicators .active {
  background-color: #fff; /* Change background color of active indicator */
}
.cardp:hover {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

